%h2 Views ☺

%ul.recnet-views
  - @histories.each do |history|
    %li
      = char_link(history[:code])

%h2 Favorites ♥

%ul.recnet-favs
  - @favs.each do |fav|
    %li
      = char_link(fav[:code])
      ♥
      = user_link fav, :image => :m
