!!!
%head
  %meta{:charset => "utf-8"}/
  %title= @title || 'My Unicode'
  %link{:href => "/favicon.ico", :rel => "shortcut icon"}/
  %link{:href => "/css/screen.css?v=1.0", :rel => "stylesheet"}/
  %script{:src => "/js/modernizr-1.6.min.js"}
%body.home
  #header
    - if current_user
      = current_user[:name]
      %a{:href => "/logout"} logout
    - else
      %a{:href => "/auth/twitter"} Sign in with Twitter

  #main
    .nav.left❮
    .nav.right❯
    #chars

    #content
      = yield

    #dashboard
      

  %script{:src => "/js/jquery-1.4.4.min.js"}
  %script{:src => "/js/jquery.mousewheel.js"}
  %script{:src => "/js/general.js"}
  :javascript
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-145539-8']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
