.user-page
  %ul.user-info
    %li
      = user_link @user, :image => :n, :show_name => true
    %li
      Twitter :
      %a{:href => "http://twitter.com/#{@user[:name]}", :target => '_blank'}= @user[:name]

  %h2 ♥ #{@favs.count}

  %ul.user-fav-chars
    - @favs.each do |fav|
      %li
        %a.char-link{:href => "/#{fav[:code].to_s(16)}"}><= fav[:code].chr('utf-8')
