/* Eric Meyer's reset
	http://meyerweb.com/eric/tools/css/reset/ 
	v2.0b1 | 201101 
	NOTE: WORK IN PROGRESS
	USE WITH CAUTION AND TEST WITH ABANDON */

/* Use this reset as a starting point, and customize to your needs */
/* Slightly modified to prevent anchor elements from losing outline, as in HTML5 Boilerplate */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

a { margin: 0; padding: 0; font-size: 100%; vertical-align: baseline; background: transparent; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

/* remember to define visible focus styles! 
:focus {
	outline: ?????;
} */

/* remember to highlight inserts somehow! */
ins {
	text-decoration: none;
}
del {
	text-decoration: line-through;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Meyer's reset ends here */

#main {
  text-align: center;
  width: 900px;
  margin: 20px auto;
}

.nav {
  font-size: 16px;
  color: #FFF;
  background-color: blue;
  margin-bottom: -18px;
  border: solid 1px transparent;
  padding: 0 4px;
  height: 16px;
}

.nav:hover {
/*  background-color: #999;*/
}

.nav.left {
  float: left;
}

.nav.right {
  float: right;
}

#chars {
  clear: both;
  font-size: 16px;
}

a.chars {
  text-decoration: none;
  color: #666;
  background-color: #FFF;
  opacity: 0.9;
  display: inline-block;
  vertical-align: middle;
  width: 16px;
  height: 16px;
  border: solid 1px transparent;
}

a.chars.hover {
  position: relative;
  color: #000;
  border: solid 1px #CCC;
  padding: 2px;
  font-size: 32px;
  width: 32px;
  height: 32px;
  margin: -10px -10px;
  z-index: 10000;
}

a.chars.current {
  color: #FFF;
  border: solid 1px red;
  background-color: red;
}

#char {
  opacity: 1.0;
  position: relative;
  background-color: rgba(100%, 100%, 100%, 0.8);
  border: solid 1px #CCC;
  font-size: 200%;
  margin: 0 -0.2em;
  padding: 0.2em;
  z-index: 1000;
}

#tweet a {
  color: #FFF;
  background-color: #01C0BA;
  text-decoration: none;
  display: inline-block;
  padding: 1px 2px;
}

#content {
  margin: 20px 0;
}
