/* Eric Meyer's reset
	http://meyerweb.com/eric/tools/css/reset/ 
	v2.0b1 | 201101 
	NOTE: WORK IN PROGRESS
	USE WITH CAUTION AND TEST WITH ABANDON */

/* Use this reset as a starting point, and customize to your needs */
/* Slightly modified to prevent anchor elements from losing outline, as in HTML5 Boilerplate */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

a { margin: 0; padding: 0; font-size: 100%; vertical-align: baseline; background: transparent; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

/* remember to define visible focus styles! 
:focus {
	outline: ?????;
} */

/* remember to highlight inserts somehow! */
ins {
	text-decoration: none;
}
del {
	text-decoration: line-through;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Meyer's reset ends here */

body {
  font-family: Helvetica;
}

a:link, a:active, a:visited {
  color: blue;
  text-decoration: none;
}

a:hover {
  opacity: 0.7;
}

.clear {
  clear:  both;
}

img.user-icon {
  vertical-align: middle;
}

#header {
  width: 900px;
  margin: 4px auto;
}

#header h1 {
  font-size: 200%;
  display: inline-block;
  margin-bottom: -2em;
  padding: 10px;
  height: 40px;
  padding-right: 20px;
  border-right: solid 1px #CCC;
}

#header h1 a {
  display: block;
  color: #666;
}

#header h1 a .you {
  color: red;
}

#header h1 a .nicode {
  color: blue;
}

#header h1 .sub {
  margin: 2px 0;
  text-align: right;
  color: #999;
  font-size: 36%;
}

#header ul.actions {
  text-align: right;
  color: #666;
}

#header ul.actions li {
  vertical-align: middle;
  height: 40px;
  line-height: 24px;
  padding: 10px;
  display: inline-block;
  border-left: solid 1px #CCC;
}

#header ul.actions li img.user-icon {
  margin: 0 4px;
}

#header ul.actions li input[type=search] {
  width: 6em;
}

#main {
  width: 900px;
  margin: 40px auto;
}

#footer {
  color: #999;
  text-align: right;
  width: 900px;
  margin: 20px auto;
}

#footer a.user-link {
  color: #333;
}

#left {
  float: left;
  width: 280px;
}

#right {
  float: right;
  width: 590px;
}

#content {
  margin: 20px 0;
}

.nav {
  font-size: 24px;
  color: #999;
  margin-bottom: -24px;
  border: solid 1px transparent;
  padding: 0 4px;
  height: 16px;
}

.nav:hover {
  color: blue;
}

.nav.left {
  float: left;
}

.nav.right {
  float: right;
}

#chars-bar {
  min-height: 40px;
}

#chars {
  clear: both;
  text-align: center;
}

#char-code {
  font-size: 80%;
  color: #999;
  margin-top: 8px;
  text-align: center;
}

a.chars {
  color: #000;
  background-color: #EEE;
  opacity: 0.7;
  display: inline-block;
  vertical-align: middle;
  font-size: 24px;
  width: 24px;
  height: 24px;
  margin: 1px;
}

a.chars.hover, a.chars.current {
  opacity: 1.0;
  position: relative;
  background-color: #FFF;
  border: solid 1px #CCC;
  padding: 2px;
  font-size: 32px;
  width: 32px;
  height: 32px;
  margin: -6px;
  z-index: 10000;
}

a.chars.current {
  z-index: 1000;
}

/* -------- char-show -------- */

#char {
  text-align: center;
  display: inline-block;
  padding: 37px;
  width: 200px;
  height: 200px;
  font-size: 200px;
  border: solid 3px #666;
}

#char .box {
  border: dashed 1px #DDD;
}

.info {
  display: inline-block;
  font-size: 160%;
  color: #666;
  margin-right: 10px;
  padding: 4px 8px;
}

.info.fav-count {
  border: solid 1px #CCC;
  border-radius: 8px;
}

a.fav {
  color: #FF5A5A;
}

a.not-fav {
  color: #999;
}

.fav-users {
  clear: both;
  margin: 16px 0;
}

.fav-users .user-icon {
  margin: 0 2px 2px 0;
}

.fav-users .fav-user, .fav-users .dummy-fav-user {
  display: inline-block;
  border: solid 1px #EEE;
  height: 48px;
  width: 48px;
  vertical-align: middle;
  margin: 0 4px 4px 0;
}

ul.char-info {
  margin-top: 30px;
  text-align: right;
  color: #999;
  font-size: 20px;
}

ul.char-info li {
  margin: 10px 0;
}

ul.char-info input[type=text] {
  color: #666;
  font-size: 20px;
  width: 6em;
}

/* -------- please-sign-in -------- */

.please-sign-in {
  padding: 80px 0;
  background-color: #EEE;
  text-align: center;
  font-size: 200%;
}

.please-sign-in p {
  margin: 0.5em 0;
}

.please-sign-in p.note {
  color: #333;
  font-size: 50%;
}

/* -------- user-page -------- */

.user-page h2 {
  color: #999;
  font-size: 200%;
  margin: 20px 0 10px 0;
}

ul.user-info {
}

ul.user-info li {
  border-right: solid 1px #AAA;
  margin-right: 20px;
  padding: 20px 20px 20px 0;
  vertical-align: middle;
  height: 50px;
  line-height: 50px;
  color: #666;
  display: inline-block;
}

ul.user-info li a.user-link {
  font-size: 140%;
}

ul.user-info li img.user-icon {
  margin-right: 10px;
}

/* -------- user-fav-chars -------- */

.user-fav-chars a {
  position: relative;
  color: #000;
  text-align: center;
  opacity: 0.8;
  vertical-align: middle;
  font-size: 40px;
  display: inline-block;
  height: 40px;
  width: 40px;
  margin: 0 4px 4px 0;
  background-color: #EEE;
  border: solid 1px #EEE;
}

.user-fav-chars a:hover {
  opacity: 1.0;
  font-size: 48px;
  height: 48px;
  width: 48px;
  margin: -4px 0 0 -4px;
  border: solid 1px #CCC;
  background-color: #FFF;
  z-index: 10000;
}
